Repository commercialhaskell/stack, pull requests merged in 2019-03, with the labels that each got.

#4628 Cache exposed package modules in Pantry DB
  .hlint.yaml
  src/Stack/Build/Source.hs
  src/Stack/Script.hs
  src/Stack/SourceMap.hs
  subs/pantry/src/Pantry.hs
  subs/pantry/src/Pantry/Storage.hs
  subs/pantry/src/Pantry/Types.hs
Labels: component: script interpreter, type: performance

#4633 Print "try adding ... to your extra-deps" as YAML
  src/Stack/Build/ConstructPlan.hs
Labels: needs changes

#4615 Indicate where git-annex will lead to pantry error
  doc/pantry.md
  subs/pantry/src/Pantry/Archive.hs
Labels: component: pantry, need test
